<footer class="footer">
  <div class="footer-inner">
      <div><i class="fas fa-globe fa-2x"></i> Español (Colombia)</div>
      <ul>
          <li><a href="/login">Plataforma</a></li>
          <li><a href="/shop">Contáctanos</a></li>
          <li><a href="/shop">Privacidad & cookies</a></li>
          <li><a href="/shop">Términos y condiciones</a></li>
          <li><a href="/shop">Tienda</a></li>
          <li><a href="/shop">Economia</a></li>
          <li><a href="/shop">Amplifica tu empresa</a></li>
          <li><a href="/shop">&copy; ERP 2021</a></li>
      </ul>
  </div>
</footer>