<app-nav-bar></app-nav-bar>

<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label for="tab-1" class="tab">Consultar Menú</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" /><label for="tab-2" class="tab"></label>
        <div class="login-form">
            <div class="sign-in-htm">

                <br><br>


                <div class="group">
                    <label for="user" class="label">Qr of Serial</label>
                    <input id="user" type="text" class="input">
                </div>

                <br><br>

                <a href="/shop">
                    <div class="group">
                        <input type="submit" class="button" value="Consultar">
                    </div>
                </a>


                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Si aun no somos tus aliados contáctanos aquí. </a>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>