<div class="container">

    <h1>Mesas</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Mesas</th>
                <th scope="col">Botones</th>
            </tr>
        </thead>
        <tbody *ngIf="true">
            <tr>
                <td data-label="Account">Mesa 1</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td data-label="Account">Mesa 2</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td data-label="Account">Mesa 3</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td data-label="Account">Mesa 4</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>

        </tbody>
    </table>
    <br>

    <div class="btn-group" role="group" aria-label="Basic example">

        <button type="button" class="btn btn-secondary">Atrás</button>
        <button type="button" class="btn btn-secondary">Siguiente</button>
    </div>
    <br>
    <br>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" (click)="addCargo()">Agregar</button>
    </div>


</div>