<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
    <app-nav-bar></app-nav-bar>

    <!-- Showcase -->
    <header class="showcase">
        <div class="content-us">
            <h2>Tus productos en Línea</h2>
            <p>
                Sube tus productos, y tus clientes podrán ver y comprar desde su celular.
            </p>
        </div>

        <a href="/shop" class="btn">
            Tienda <i class="fas fa-chevron-right"></i>
        </a>
    </header>

    <!-- Home cards 1 -->
    <section class="home-cards">
        <div>
            <img src="https://images.pexels.com/photos/8158482/pexels-photo-8158482.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="">
            <h3>Sube los adicionales</h3>
            <p>
                Añade adicionales opcionales y obligatorios a tus productos.
            </p>
            <a href="/shop">Más <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/34092/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="" />
            <h3>Añade tus empleados</h3>
            <p>
                Sube los meseros y asignalos a tus mesas.
            </p>
            <a href="/shop">Más <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/106344/pexels-photo-106344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="" />
            <h3>Informes</h3>
            <p>
                Gráficas de algunas metricas para visualizar los datos fácilmente
            </p>
            <a href="/shop">Más <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="https://images.pexels.com/photos/1181406/pexels-photo-1181406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="" />
            <h3>Controla tus ventas</h3>
            <p>
                Visualiza tu inventario y ganancias.
            </p>
            <a href="/shop">Más <i class="fas fa-chevron-right"></i></a>
        </div>
    </section>

    <!-- Xbox -->
    <section class="xbox">
        <div class="content">
            <div class="content-us">
                <h2>Registra tu local</h2>
                <p>Todos los benieficios de usar nuestros servicios en tu negocio</p>

            </div>
            <a href="/register" class="btn">
                Registro <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </section>

    <!-- Home cards 2 -->
    <section class="home-cards">
        <div>
            <img src="https://i.ibb.co/zVqhWn2/card5.png" alt="" />
            <h3>Ayuda para restaurantes</h3>
            <p>
                Apoyamos tu empresa, obten tu prueba gratis.
            </p>
            <a href="/shop">Tienda <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="https://i.ibb.co/mGZcxcn/card6.jpg" alt="" />
            <h3>Nuestros Servicios</h3>
            <p>
                Busca los paqutes que se adapten a tu empresa.
            </p>
            <a href="/shop">Tienda <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="https://i.ibb.co/NpPvVHj/card7.png" alt="" />
            <h3>Productos</h3>
            <p>
                Todos nuestros productos funcionan en nuestra plataforma web
            </p>
            <a href="/shop">Tienda <i class="fas fa-chevron-right"></i></a>
        </div>
        <div>
            <img src="https://i.ibb.co/LkP4L5T/card8.png" alt="" />
            <h3>Explora</h3>
            <p>
                Amprende quienes somos, nuestra misióny visión.
            </p>
            <a href="/shop">Tienda <i class="fas fa-chevron-right"></i></a>
        </div>
    </section>

    <!-- Carbon -->
    <section class="carbon dark">
        <div class="content">
            <div class="content-us">
                <h2>NUESTRA PLATAFORMA</h2>
                <p>Todos nuestros servicios estan enfocados para funcionar en un navegador. En nuestra plataforma web
                    puedes controlar tu local y tu personal.</p>

            </div>
            <a href="/shop" class="btn">
                Más <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </section>

    <!-- Follow -->
    <section class="follow">
        <p>Siguenos</p>
        <a href="https://facebook.com">
            <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook">
        </a>
        <a href="https://twitter.com">
            <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter">
        </a>
        <a href="https://linkedin.com">
            <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin">
        </a>
    </section>
</div>
<!-- Links -->
<section class="links">
    <div class="links-inner">
        <ul>
            <li>
                <h3>Nuevos Productos</h3>
            </li>
            <li><a href="/shop">Módulos</a></li>
            <li><a href="/shop">Servicios</a></li>
            <li><a href="/shop">Tienda</a></li>
            <li><a href="/shop">Paquetes</a></li>
            <li><a href="/shop">Ayuda</a></li>
        </ul>
        <ul>
            <li>
                <h3>Tienda</h3>
            </li>
            <li><a href="/shop">Registra tu empresa</a></li>
            <li><a href="/shop">Inicia Sesión</a></li>
            <li><a href="/shop">Soporte</a></li>
            <li><a href="/shop">Quienes Somos</a></li>
            <li><a href="/shop">Misión</a></li>
        </ul>
        <ul>
            <li>
                <h3>Contactanos</h3>
            </li>
            <li><a href="/shop">Facebook</a></li>
            <li><a href="/shop">Twitter</a></li>
            <li><a href="/shop">Instagram</a></li>
            <li><a href="/shop">Tienda</a></li>
            <li><a href="/shop">Visión</a></li>
        </ul>
        <ul>
            <li>
                <h3>Empresas</h3>
            </li>
            <li><a href="/shop">Empleados</a></li>
            <li><a href="/shop">Nóminas</a></li>
            <li><a href="/shop">Informes</a></li>
            <li><a href="/shop">Personal</a></li>
            <li><a href="/shop">Evaluaciones</a></li>
        </ul>
        <ul>
            <li>
                <h3>Desarrollo</h3>
            </li>
            <li><a href="/shop">Contáctanos</a></li>
            <li><a href="/shop">Compromiso</a></li>
            <li><a href="/shop">Desarrollo enfocado a tu empresa</a></li>
            <li><a href="/shop">ERP</a></li>
            <li><a href="/shop">Desarrollo Modular</a></li>
        </ul>
        <ul>
            <li>
                <h3>Company</h3>
            </li>
            <li><a href="/shop">Nuesto Personal</a></li>
            <li><a href="/shop">Informacion de una ERP</a></li>
            <li><a href="/shop">Notificación</a></li>
            <li><a href="/shop">Administración de ERP</a></li>
            <li><a href="/shop">Login</a></li>
        </ul>
    </div>
</section>

<!-- Footer -->
<app-footer></app-footer>