.nav-link {
    margin-right: 20px;
    justify-content: center;
    padding-left: 20px;
    font-weight: 600;
    }
    .navbar {
        justify-content: center;
    }
    .navbar-nav{
        align-items: center;
    }
    .nav-link:hover{
        color: #ff9800;
        text-decoration:rgb(204, 200, 192);
    }
    .gris{
        background: rgba(253, 253, 253, 0.753);
    }

