<div class="container">

    <h1>Categorías</h1>
    <table>
        <thead>
            <tr>
                <th scope="col">Tipos de Evaluaciones</th>
                <th scope="col">Botones</th>
            </tr>
        </thead>
        <tbody *ngIf="true">
            <tr>
                <td data-label="Account">Bebidas Calientes</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td data-label="Account">Bebidas Frias</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td data-label="Account">Hamburguesas</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td data-label="Account">Café</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td data-label="Account">Postres</td>
                <td>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>

        </tbody>
    </table>
    <br>

    <div class="btn-group" role="group" aria-label="Basic example">

        <button type="button" class="btn btn-secondary">Atrás</button>
        <button type="button" class="btn btn-secondary">Siguiente</button>
    </div>
    <br>
    <br>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Agregar</button>
    </div>


</div>