<app-nav-bar></app-nav-bar>




<div class="menu-container">

    
    <div class="info">
        <div class="container">
            <div class="hexagon">
                <div class=shape>
                    <img src="../../../assets/icons/mison.jpg" alt="">
                    <div class='content'>
                        <div class="sub-content">
                            <h2>Misión </h2>
                            <p>Formar trabajadores con capacidad técnica e inteligencia para asegurar su integridad y calidad de vida al enfrentar de manera eficiente las tareas de alto riego.
                            </p>
                            <p>
                                Ser aliado estratégico de nuestros clientes para optimizar sus recursos en formación y desarrollo organizacional.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="hexagon cont-right">
                <div class=shape>
                    <img src="../../../assets/icons/vision.jpg" alt="">
                    <div class='content2'>
                        <div class="sub-content2">
                            <h2>Visión </h2>
                            <p>Ser la empresa referente en desarrollo y formación de competencias laborales. Reconocidos por nuestra alta calidad técnica y académica, innovación pedagógica, agilidad y eficiencia en el servicio.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="hexagon">
                <div class=shape>
                    <img src="../../../assets/icons/objetivos2.JPG" alt="">
                    <div class='content'>
                        <div class="sub-content">
                            <h2>Objetivos </h2>
                            <p>Posicionarse como uno de los mejores centros de formación del país.</p>
                            <p>Ser rentables y sostenibles.  </p>
                            <p>Brindar un servicio de calidad ágil y eficiente.</p>
                            <p>Innovar y fomentar metodología, técnicas y recursos que permitan identificarnos como pioneros en las áreas de influencia.</p>
                            <p>Fidelizar a través e estrategias de mercado y cercanía con los clientes.                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   


    <br>
    <app-footer></app-footer>